/* CARRITO */

.title-cart-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 30px ;
    padding-top: 5px;
    margin-top: 30px;
}

.title-cart-container div{
    font-weight: bold;
    height: 20%;
}

.div-title-cart{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
}

.title-price{
    margin-left: 15px;
}

.title-quantity{
    margin-left: -20px ;
}

.title-subTotal{
    width: 85px;
    margin-left: -30px;
}

.cart-container{
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 95%;
    border-top: 1px solid var(--darkGrey);
    padding-top: 5px;
}

.cart-1{
    border: 1px solid var(--grey);
    border-radius: 5px;
    margin-right: 5px;
    width: 50px;
}

.cart-info-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.cart-2{
    width: 20%;
}

.cart-3{
    width: 20%;
    text-align: center;
}

.cart-4{
    display:flex;
    flex-direction: row;
    width: 20%;
    justify-content: center;
}

.cart-4 .counter-sym{
    border: 1px solid var(--black);
    cursor: pointer;
    width: 20px;
    height: 30px;
    text-align: center;
}

.cart-4 .dec{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: transparent;
    
}

.cart-4 .numCounter{
    border-bottom: 1px solid var(--black);
    border-top: 1px solid var(--black);
    width: 30px;
    height: 30px;
    text-align: center;
}

.cart-4 .inc{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: transparent;
}

.cart-5{
    width: 20%;
    text-align: center;
}

.cart-6{
    width: 20%;
    text-align: center;
}

.fa-circle-xmark{
    margin-top: 6%;
    cursor: pointer;
}

.title-row{
    width: 95%;
    display: flex;
    flex-direction: row;
}

.div-title-cart .total{
    margin-left: 70px;

}

.total-container{
    border: 5px outset var(--orange);
    background-color: var(--orange);
    padding-bottom: 30px;
}

.empty-cart{
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
}

.checkout-button {
    background-color: var(--blue);
    color: var(--orange);
    border-radius: 5px;
    border: 2px solid var(--blue);
    width: auto;
    padding: 10px 15px 10px 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.checkout-button:hover{
    background-color:var(--orange);
    color: var(--blue);
    border: 2px solid var(--orange);
}