/* FORM CHECKOUT */

#form{
    width: 90vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130px;
}

.input-label{
    padding-bottom: 5px;
    text-transform: capitalize;
    font-family: var(--primaryFont);
}

.input-field{
    border-radius: 3px; 
    height: 26px;
    font-family: var(--primaryFont);
    background-color: var(--grey);
    border: 1px solid var(--black);
    box-shadow: inset 0 1px 1px var(--blue);
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}


.option-select{
    color: var(--darkGrey);
    font-style: italic;
}

.errorMessage{
    color: red;
    font-size: 12px;
    padding-bottom: 12px;
    margin-left: 2px;
    margin-top: 2px;
}

.send-checkout-button {
    background-color: var(--blue);
    color: var(--orange);
    border-radius: 5px;
    border: 2px solid var(--blue);
    height: 50px;
    width: 150px;
}

.send-checkout-button:hover{
    background-color:var(--orange);
    color: var(--blue);
    border: 2px solid var(--orange);
}