.main-container {
    height: auto;
}

/* INFORMACION FECHA Y CAMBIO */

#info{
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    height: 20px;
    background-color: var(--blue);
    margin: auto;
}

#info p{
    font-size: 12px;
    margin-right: 10px;
    font-family: var(--primaryFont);
    color: var(--orange);
    font-weight: bolder;
}

/* SLIDER */

.slider{
    overflow: hidden;
    object-fit: contain;
    width: 90vw;
    margin: auto;
}

.slider .slides{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.slider .slides img{
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.page-title {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0 10px 0;
    text-transform: capitalize;
    text-align: center;
}

.books {
    padding: 10px 0 20px 0;
    font-family: var(--primaryFont);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* CARDS */

.card {
    border: 1px solid var(--blue);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888;
    padding-top: 20px;
    margin: 4px;
    text-align: center;
    background-color: var(--white);
    width: 180px;
    max-height: 320px;
}

.card img {
    height: 50%;
    border-radius: 1%;
    object-fit: contain;
}

.card-div{
    height: 50%;
    border: 0.1px solid transparent;
}

.card-title{
    margin-top: 5px;
    font-weight: bold;
}

/* CONFIRMACION DE COMPRA REALIZADA */

.fa-circle-check{
    background-color: var(--white);
    color: var(--orange);
    margin-right: 8px;
}

.confirmation-sending-form{
    width: auto;
}

/* CARDS LISTADO DE PRODUCTOS */

.product-registration-btn {
    border: 1px solid var(--blue);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888;
    text-align: center;
    background-color: var(--grey);
    color: var(--blue);
    width: 30%;
    height: 40px;
    font-family: var(--primaryFont);
    font-size: 14px;
    cursor: pointer;
}

.product-registration-btn:hover{
    background-color: var(--blue);
    color: var(--orange);
    cursor: pointer;
}

.card-list-of-products {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--blue);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888;
    /* padding-top: 20px; */
    margin: 4px;
    text-align: center;
    background-color: var(--white);
    width: 90%;
    height: auto;
}

.card-list-of-products img {
    height: 100%;
    width: 100px;
    border-radius: 1%;
    object-fit: contain;
}

.card-div-list-of-products{
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0.1px solid transparent;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-title{
    font-weight: bold;
}

.btn-div-list-of-products{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.edit-btn-list-of-products{
    background-color: var(--green);
    border: 1px solid var(--green);
    border-radius: 5px;
    color: var(--white);
    width: 100%;
    margin-bottom: 5px;
}

.delete-btn-list-of-products{
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 5px;
    color: var(--white);
    width: 100%;
    margin-top: 5px;
}

