.main-container {
    height: auto;
}

/* INFORMACION FECHA Y CAMBIO */

#info{
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    height: 20px;
    background-color: var(--blue);
    margin: auto;
}

#info p{
    font-size: 12px;
    margin-top: 15px;
    margin-right: 10px;
    font-family: var(--primaryFont);
    color: var(--orange);
    font-weight: bolder;
}

/* SLIDER */

.slider{
    overflow: hidden;
    object-fit: contain;
    width: 90vw;
    margin: auto;
}

.slider .slides{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.slider .slides img{
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.page-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 30px;
    text-transform: capitalize;
    text-align: center;
}

.books {
    margin-bottom: 100px;
    font-family: var(--primaryFont);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* CARDS */

.card {
    border: 1px solid var(--blue);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888;
    padding-top: 20px;
    margin: 4px;
    text-align: center;
    background-color: var(--white);
    width: 180px;
    max-height: 320px;
}

.card img {
    height: 50%;
    border-radius: 1%;
    object-fit: contain;
}

.card-div{
    height: 50%;
}

.card-title{
    margin-top: 5px;
    font-weight: bold;
}

/* CARRITO */

.title-cart-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 30px ;
    padding-top: 5px;
    margin-top: 30px;
}

.title-cart-container div{
    font-weight: bold;
    height: 20%;
}

.div-title-cart{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
}

.title-price{
    margin-left: -10px;
}

.title-quantity{
    margin-left: -15px ;
}

.title-subTotal{
    width: 80px;
    margin-left: -45px;
}

.cart-container{
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 95%;
    border-top: 1px solid var(--darkGrey);
    padding-top: 5px;
}

.cart-1{
    border: 1px solid var(--grey);
    border-radius: 5px;
    margin-right: 5px;
    width: 50px;
}

.cart-info-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.cart-2{
    width: 20%;
}

.cart-3{
    width: 20%;
    text-align: center;
}

.cart-4{
    display:flex;
    flex-direction: row;
    width: 20%;
    justify-content: center;
}

.cart-4 .counter-sym{
    border: 1px solid var(--black);
    cursor: pointer;
    width: 20px;
    height: 30px;
    text-align: center;
}

.cart-4 .dec{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: transparent;
    
}

.cart-4 .numCounter{
    border-bottom: 1px solid var(--black);
    border-top: 1px solid var(--black);
    width: 30px;
    height: 30px;
    text-align: center;
}

.cart-4 .inc{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: transparent;
}

.cart-5{
    width: 20%;
    text-align: center;
}

.cart-6{
    width: 20%;
    text-align: center;
}

.fa-circle-xmark{
    margin-top: 6%;
    cursor: pointer;
}

.title-row{
    width: 95%;
    display: flex;
    flex-direction: row;
}

.div-title-cart .total{
    margin-left: 85px;
}

.total-container{
    border: 5px outset var(--orange);
    background-color: var(--orange);
    padding-bottom: 30px;
}

.empty-cart{
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
}

.checkout-button {
    background-color: var(--blue);
    color: var(--orange);
    border-radius: 5px;
    border: 2px solid var(--blue);
    width: auto;
    padding: 10px 15px 10px 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.checkout-button:hover{
    background-color:var(--orange);
    color: var(--blue);
    border: 2px solid var(--orange);
}


/* FORM CHECKOUT */


#form{
    width: 90vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130px;
}

.input-label{
    padding-bottom: 5px;
    text-transform: capitalize;
    font-family: var(--primaryFont);
}

.input-field{
    border-radius: 3px; 
    height: 26px;
    font-family: var(--primaryFont);
    background-color: var(--grey);
    border: 1px solid var(--black);
    box-shadow: inset 0 1px 1px var(--blue);
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.errorMessage{
    color: red;
    font-size: 12px;
    padding-bottom: 12px;
    margin-left: 2px;
    margin-top: 2px;
}


