@import "header.css";
@import "navbar.css";
@import "main.css";
@import "footer.css";

/* VARIABLES */

:root {
    --black: #000000;
    --blue: #14213d;
    --orange: #fca311;
    --grey: #f8f9fa;
    --darkGrey: #888;
    --white: #ffffff;
    --red: #FF0000;
    --primaryFont: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primaryFont)
}

p{
    font-family: var(--primaryFont);
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 600px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* border: 5px solid blue; */
}

.modal-content {
    background-color: var(--white);
    margin: 2% auto;
    padding: 10px;
    /* max-width: 400px; */
    max-width: 90vw;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-flex-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.modal-image {
    flex: 1;
    padding: 10px;
    max-width: 100%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
}

.modal-image img {
    max-width: 100%;
    height: 300px;
    /* border: 2px solid red; */
    border: 1px solid var(--darkGrey);
    border-radius: 2%;
}

.modal-title{
    margin-left: 10px;
}

.modal-card-title{
    font-family: var(--primaryFont);
    font-weight: bold;
}

@media (max-width: 480px) {
    .modal-image {
        flex-direction: column;
        align-items: center;
    }
    .modal-image img {
        min-width: 50%;
        
    }
    .modal-title{
        margin-top: 20px;
        margin-left: 10px;
        /* border: 2px solid blue; */
        min-width: 100%;
    }
    .btn-add-cart{
        margin-left: 50%;
    }
}

.modal-info {
    flex: 1;
    padding: 10px;
    /* border: 2px solid yellow; */
}

.cerrar-modal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.btn-modal {
    background-color: var(--blue);
    color: var(--orange);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-modal:hover{
    background-color: var(--orange);
    color: var(--blue);
}




/* CARRITO */

/* .title-cart-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 30px ;
    padding-top: 5px;
    margin-top: 30px;
}

.title-cart-container div{
    font-weight: bold;
    height: 20%;
}

.div-title-cart{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
}

.title-price{
    margin-left: -10px;
}

.title-quantity{
    margin-left: -15px ;
}

.title-subTotal{
    width: 80px;
    margin-left: -45px;
}

.cart-container{
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 95%;
    border-top: 1px solid var(--darkGrey);
    padding-top: 5px;
}

.cart-1{
    border: 1px solid var(--grey);
    border-radius: 5px;
    margin-right: 5px;
    width: 50px;
}

.cart-info-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.cart-2{
    width: 20%;
}

.cart-3{
    width: 20%;
    text-align: center;
}

.cart-4{
    display:flex;
    flex-direction: row;
    width: 20%;
    justify-content: center;
}

.cart-4 .counter-sym{
    border: 1px solid var(--black);
    cursor: pointer;
    width: 20px;
    height: 30px;
    text-align: center;
}

.cart-4 .dec{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: transparent;
    
}

.cart-4 .numCounter{
    border-bottom: 1px solid var(--black);
    border-top: 1px solid var(--black);
    width: 30px;
    height: 30px;
    text-align: center;
}

.cart-4 .inc{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: transparent;
}

.cart-5{
    width: 20%;
    text-align: center;
}

.cart-6{
    width: 20%;
    text-align: center;
}

.fa-circle-xmark{
    margin-top: 6%;
    cursor: pointer;
}

.title-row{
    width: 95%;
    display: flex;
    flex-direction: row;
}

.div-title-cart .total{
    margin-left: 85px;
}

.total-container{
    border: 5px outset var(--orange);
    background-color: var(--orange);
    padding-bottom: 30px;
} */










.cartGrid {
    font-family: var(--primaryFont);
}

@media (max-width: 526px) {
    .cartGrid {
        font-size: 13px;
    }
}








.empty-cart{
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
}

.total-row{
    padding-top: 10px;
    font-weight: bold;
}

.delete-button {
    background-color: var(--blue);
    color: var(--orange);
    border-radius: 5px;
    border: 2px solid var(--blue);
    width: 35px;
    height: 35px;
    margin-left: 30%;
}

.delete-button:hover{
    background-color:var(--orange);
    color: var(--blue);
    border: 2px solid var(--orange);
}

.checkout-button {
    background-color: var(--blue);
    color: var(--orange);
    border-radius: 5px;
    border: 2px solid var(--blue);
    width: auto;
    padding: 10px 15px 10px 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.checkout-button:hover{
    background-color:var(--orange);
    color: var(--blue);
    border: 2px solid var(--orange);
}



/* FORM */


#form{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    width: 95%;
}

@media (max-width: 992px) {
    #form{
        grid-template-columns:1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    #form{
        grid-template-columns:1fr 1fr;
    }
}

@media (max-width: 600px) {
    #form{
        grid-template-columns:1fr;
    }
}

.input-container{
    width: 90%;
    height: 130px;
    margin-left: 10%;
    
}

.input-label{
    padding-bottom: 5px;
    text-transform: capitalize;
    font-family: var(--primaryFont);
}

.input-field{
    border-radius: 3px; 
    height: 26px;
    font-family: var(--primaryFont);
    background-color: var(--grey);
    border: 1px solid var(--black);
    box-shadow: inset 0 1px 1px var(--blue);
    padding-left: 8px;
    padding-right: 8px;
    width: 90%;
    height: 50px;
    border-radius: 5px;
}

.errorMessage{
    color: red;
    font-size: 12px;
    padding-bottom: 12px;
    margin-left: 2px;
    margin-top: 2px;
}

.message-modal{
    text-align: center;
}

.btn-modal-cart{
    background-color: var(--blue);
    color: var(--orange);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 70%;
    margin-top: 30px;
}

.btn-modal-cart:hover{
    background-color: var(--orange);
    color: var(--blue);
}

.fa-circle-check{
    background-color: var(--white);
    color: var(--orange);
    margin-right: 8px;

}

.confirmation-sending-form{
    height: 245px;
    width: auto;
}

.error-form-contact{
    height: 20px;
}

.btn-contact-container{
    display: flex;
    justify-content: end;
}

.btn-contact-form-cleaner{
    margin-right: 5px;
}

.btn-contact-form-validation{
    margin-left: 5px;
}
.centered {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
