@import "header.css";
@import "navbar.css";
@import "main.css";
@import "footer.css";
@import "modal.css";
@import "contactForm.css";
@import "checkoutForm.css";
@import "cart.css";

/* VARIABLES */

:root {
    --black: #000000;
    --blue: #14213d;
    --orange: #fca311;
    --grey: #f8f9fa;
    --darkGrey: #888;
    --white: #ffffff;
    --red: #FF0000;
    --green: #0ead69;
    --primaryFont: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primaryFont);
}

